apiVersion: batch/v1
kind: Job
metadata:
  name: containerd-chaos-{{ run_id }}
  labels:
    name: containerd-chaos
{% if chaos_uid is defined and chaos_uid != '' %}        
    chaosUID: {{ chaos_uid }}
{% endif %}        
spec:
  template:
    metadata:
      labels:
        app: crictl
{% if chaos_uid is defined and chaos_uid != '' %}        
        chaosUID: {{ chaos_uid }}
{% endif %}        
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ app_node }}
      restartPolicy: Never
      containers:
      - image: {{ containerd_image }}
        imagePullPolicy: Always
        name: containerd-chaos
        command: ['sh', '-c', 'echo Hello! && sleep 1800']
        volumeMounts:
          - name: cri-socket
            mountPath: /run/containerd/containerd.sock
          - name: cri-config
            mountPath: /etc/crictl.yaml
      volumes:
        - hostPath:
            path: /run/containerd/containerd.sock
          name: cri-socket
        - hostPath:
            path: /etc/crictl.yaml 
          name: cri-config