apiVersion: v1
kind: Pod
metadata:
  name: containerd-chaos-{{ run_id }}
  labels:
    name: containerd-chaos-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}        
    chaosUID: {{ chaos_uid }}
{% endif %}        
spec:
  serviceAccountName: {{ c_svc_acc }}
  nodeName: {{ app_node }}
  restartPolicy: Never
  containers:
  - image: {{ containerd_image }}
    imagePullPolicy: Always
    env:
      # Name of the application pod
      - name: APP_POD
        value: "{{ app_pod }}"
      - name: APP_NS
        value: "{{ namespace }}"
      - name: APP_CONTAINER
        value: "{{ app_container }}"
      - name: TOTAL_CHAOS_DURATION
        value: "{{ c_duration }}"
      - name: CHAOS_INTERVAL
        value: "{{ c_interval }}"
      - name: ITERATIONS
        value: "{{ c_iterations }}"
      - name: RETRY 
        value: '90'
      - name: DELAY
        value: '2'
      - name: CHAOS_NAMESPACE
        value: "{{ c_ns }}"
      - name: CHAOS_ENGINE
        value: "{{ c_engine }}"
      - name: CHAOS_UID
        value: "{{ chaos_uid }}"
      - name: POD_NAME
        valueFrom:
              fieldRef:
                fieldPath: metadata.name
    name: containerd-chaos
    command: ["/bin/bash"]
    args: ["-c", "bash crictl-kill.sh"]
    volumeMounts:
      - name: cri-socket
        mountPath: "{{ container_path }}"
      - name: cri-config
        mountPath: /etc/crictl.yaml
    securityContext:
      privileged: true
  volumes:
    - hostPath:
        path: "{{ container_path }}"
      name: cri-socket
    - hostPath:
        path: /etc/crictl.yaml 
      name: cri-config