.popover {
  display: block;
}

.icon {
  margin-top: var(--spacing-tiny) !important;
  margin-right: var(--spacing-small) !important;
}

.openNewTabStyle {
  display: flex;
  align-items: center;
}

.linkIcon {
  margin-right: var(--spacing-small) !important;
}
