{% if clone_action is defined and clone_action == 'during-rebuild' %}
  funcutil: kubectl/k8s_snapshot_clone/clone_during_rebuild.yml
{% endif %}
{% if clone_action is defined and clone_action == 'pre-rebuild' %}
  funcutil: kubectl/k8s_snapshot_clone/clone_pre_rebuild.yml
{% endif %}
{% if clone_action is defined and clone_action == 'post-rebuild' %}
  funcutil: kubectl/k8s_snapshot_clone/clone_post_rebuild.yml  
{% endif %}


