apiVersion: v1
kind: Pod
metadata:
  name: pumba-sig-kill-{{ run_id }}
  labels: 
    app: pumba
    name: pumba-sig-kill-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}  
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  nodeName: {{ app_node }}
  restartPolicy: Never
  containers:
  - image: {{ pumba_image }}
    imagePullPolicy: Always
    name: pumba
    args:
      - --random
      - --interval
      - {{ c_interval }}s
      - kill
      - --signal
      - SIGKILL
      - re2:k8s_{{ app_container }}_{{ app_pod }} 
    volumeMounts:
      - name: dockersocket
        mountPath: /var/run/docker.sock
  volumes:
    - hostPath:
        path: /var/run/docker.sock
      name: dockersocket