<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Litmus Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"> 
    <link href="{{ url .ReqPath "static/main.css" }}" rel="stylesheet">
    <link href="{{ url .ReqPath "theme/styles.css" }}" rel="stylesheet">
    <link rel="icon" href="{{ url .ReqPath "theme/favicon.png" }}">
  </head>

  <body class="theme-body">
        <img class="logo-custom" src="{{ url .ReqPath logo }}">

    <div class="dex-container">
