---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cassandra-liveness-deploy
  labels:
    name: cassandra-liveness-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      name: cassandra-liveness-deploy
  template:
    metadata: 
      labels:
        name: cassandra-liveness-deploy
    spec:
      containers:
      - name: liveness-business-logic
        image: {{ cassandra_liveness_image }}
        imagePullPolicy: Always
        env:
          # Time period (in sec) b/w liveness checks
          - name: LIVENESS_PERIOD_SECONDS
            value: '10'

          # Time period (in sec) b/w retries for db_connect failure
          - name: LIVENESS_TIMEOUT_SECONDS
            value: '10'

          # No of retries after a db_connect failure before declaring liveness fail
          - name: LIVENESS_RETRY_COUNT
            value: '10'

          # Name of cassandra service
          # default value: cassandra
          - name: CASSANDRA_SVC_NAME
            value: "{{ cassandra_svc_name }}"

           # Replication factor of keyspace
          - name: REPLICATION_FACTOR
            value: "{{ replication_factor }}"

          # Name of cassandra port
          # default value: 9042
          - name: CASSANDRA_PORT
            value: "{{ cassandra_port }}"

        command: ["/bin/bash"]
        args: ["-c", "bash cassandra-liveness-check.sh"]
        volumeMounts:
        - mountPath: /var/tmp
          name: status-volume
      - name: webserver
        image: {{ cassandra_liveness_image }}
        imagePullPolicy: Always
        env:
          # Time period (in sec) b/w retries for DB init check
          - name: INIT_WAIT_SECONDS
            value: '10'

          # Port of the liveness service
          - name: LIVENESS_SVC_PORT
            value: "{{ liveness_svc_port }}"

        command: ["/bin/bash"]
        args: ["-c", "bash webserver.sh"]
        ports: 
        - containerPort: {{ liveness_svc_port }}
        volumeMounts:
        - mountPath: /var/tmp
          name: status-volume
      volumes:
      - name: status-volume
        emptyDir: {} 
---
apiVersion: v1
kind: Service
metadata:
  name: cassandra-liveness-service
  labels:
    name: cassandra-liveness-service
spec:
  ports:
  - port: {{ liveness_svc_port }}
    name: liveness
    protocol: TCP
  selector:
    name: cassandra-liveness-deploy