.root {
  background-color: #f8fcff;
  height: 100vh;
  padding: var(--spacing-xlarge) var(--spacing-large);

  .switch {
    color: var(--black) !important;
    margin-top: 20px;
    margin-bottom: 0 !important;
  }

  .subtitle {
    padding: 15px 0;
    color: var(--grey-600) !important;
    font-weight: 400 !important;
    font-size: 14px;
  }

  .option {
    width: 350px;
    color: var(--black) !important;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .colon {
      margin-bottom: 10px;
    }

    .textbox {
      width: 100%;
    }

    .dropdown {
      width: 165px !important;
      margin-bottom: 10px;
    }
  }
}
