apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: write-pod-{{ run_id }}
  name: write-pod-{{ run_id }}
  namespace: {{ a_ns }}
spec:
  replicas: 1
  selector:
    matchLabels:
      run: write-pod-{{ run_id }}
  template:
    metadata:
      labels:
        run: write-pod-{{ run_id }}
    spec:
      containers:
      - name: write-pod
        image: gcr.io/google_containers/busybox:1.24
        command:
        - "sleep"
        - "1000"
        volumeMounts:
        - name: nfs-pvc
          mountPath: "/busybox"
      volumes:
      - name: nfs-pvc
        persistentVolumeClaim:
          claimName: testclaim-{{ run_id }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: read-pod-{{ run_id }}
  name: read-pod-{{ run_id }}
  namespace: {{ a_ns }}
spec:
  replicas: 1
  selector:
    matchLabels:
      run: read-pod-{{ run_id }}
  template:
    metadata:
      labels:
        run: read-pod-{{ run_id }}
    spec:
      containers:
      - name: read-pod
        image: gcr.io/google_containers/busybox:1.24
        command:
        - "sleep"
        - "1000"
        volumeMounts:
        - name: nfs-pvc
          mountPath: "/busybox"
      volumes:
      - name: nfs-pvc
        persistentVolumeClaim:
          claimName: testclaim-{{ run_id }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: testclaim-{{ run_id }}
  namespace: {{ a_ns }}
spec:
  storageClassName: openebs-nfs 
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Mi