apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: nfs-mount-liveness-check-{{ run_id }}
  name: nfs-mount-liveness-check-{{ run_id }}
  namespace: {{ a_ns }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: nfs-mount-liveness-check-{{ run_id }}
  template:
    metadata:
      labels:
        name: nfs-mount-liveness-check-{{ run_id }}
    spec:
      containers:
      - name: nfs-mount-liveness-check
        image: litmuschaos/nfs-client:latest
        env:
          # Time period (in sec) b/w retries for DB init check
          - name: INIT_WAIT_DELAY
            value: "30"

          # Time period (in sec) b/w liveness checks
          - name: LIVENESS_PERIOD_SECONDS
            value: "10"

          # Time period (in sec) b/w retries for db_connect failure
          - name: LIVENESS_TIMEOUT_SECONDS
            value: "10"

          # No of retries after a db_connect failure before declaring liveness fail
          - name: LIVENESS_RETRY_COUNT
            value: "10"

          - name: COMMAND_TIMEOUT
            value: "10"
            
          # NFS PROVISIONER SERVICE IP
          - name: NFS_SVC_IP 
            value: {{ nfs_svc_ip.stdout }}

          # PERSISTENT VOLUME MOUNT USING NFS
          - name: VOLUME
            value: {{ volume.stdout }}
        command: ["python3", "nfs-mount-liveness-check.py"]