.root {
  display: flex;
  height: calc(100vh - 49px);
  width: 100%;
  padding: var(--spacing-medium);
  justify-content: space-between;
  gap: var(--spacing-medium);
}

.leftDiv {
  width: 55%;
  display: flex;
  flex-direction: column;
  :global {
    .OverlaySpinner--overlaySpinner {
      height: 100%;
    }
  }
}

.noFaults {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  margin: 1rem 0;
  margin-right: 1rem;
  border-radius: 8px;
}

.experimentWrapper {
  height: 130px;
  width: 120px;
  padding: var(--spacing-medium) var(--spacing-small);
}

.box {
  width: 60px;
  height: 60px;
  margin: 6px auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  box-shadow: 0px 0px 1px var(--grey-200), 0px 2px 4px var(--grey-300);
  border-radius: 8px;

  &:hover {
    border: 2px solid var(--primary-7) !important;
    box-shadow: none;
    cursor: pointer;
  }
}

.rightDiv {
  background-color: var(--white);
  border: 0.7px dashed var(--grey-300);
  border-radius: 4px;
  height: 100%;
  width: 45%;

  .relative {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100px;
    }
  }
}

.widthSm {
  min-width: 200px;
}
.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}
.center {
  text-align: center;
}
