---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cstor-xfs
  annotations:
    openebs.io/cas-type: cstor
    cas.openebs.io/config: |
      - name: StoragePoolClaim
        value: "cstor-sparse-pool"
      - name: FSType
        value: "xfs"
      - name: ReplicaCount
        value: "1"
provisioner: openebs.io/provisioner-iscsi
