apiVersion: v1
kind: Pod
metadata:
  name: node-cpu-hog-{{ run_id }}
  labels: 
    app: node-cpu-hog
    name: node-cpu-hog-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  nodeName: {{ node_name }}
  restartPolicy: Never
  containers:
  - image: {{ cpu_stress_image }}
    imagePullPolicy: Always
    name: node-cpu-hog
    args: ["--cpu", "{{ cpu_limit }}", "--timeout", "{{ c_duration }}"]
