apiVersion: v1
kind: Pod
metadata:
  name: pumba-netem-{{ run_id }}
  labels:
    app: pumba
    name: pumba-netem-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}  
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  nodeName: {{ app_node }}
  restartPolicy: Never
  containers:
  - image: {{ pumba_image }}
    imagePullPolicy: Always
    name: pumba
    args:
      - netem
      - --tc-image
      - 'gaiadocker/iproute2'
      - --interface
      - {{ n_interface }}
      - --duration
      - {{ c_duration }}s
{% if n_latency is defined and n_latency != '' %}
      - delay
      - --time
      - "{{ n_latency }}"
{% elif n_packet_loss is defined and n_packet_loss != '' %}
      - loss
      - --percent
      - "{{ n_packet_loss }}"
{% elif n_corruption is defined and n_corruption != '' %}
      - corrupt
      - --percent
      - "{{ n_corruption }}"
{% endif %}
      - re2:k8s_{{ c_container }}_{{ app_pod }}
    volumeMounts:
      - name: dockersocket
        mountPath: /var/run/docker.sock
  volumes:
    - hostPath:
        path: /var/run/docker.sock
      name: dockersocket
