---
name: kill-hello-replicas
version: 0.1.0
category: hello-world
repository: https://github.com/litmuschaos/demo-app/tree/master/sample_apps/hellonode
community: https://kubernetes.slack.com/messages/CNXNB0ZTN
description: "kills hello-world pods in a random manner"
keywords:
  - pods
  - kubernetes
  - hello-world
  - nodejs
scope: "Namespaced"
permissions:
  - apiGroups:
      - ""
      - "batch"
      - "litmuschaos.io"
    resources:
      - "jobs"
      - "pods"
      - "chaosengines"
      - "chaosexperiments"
      - "chaosresults"
    verbs:
      - "create"
      - "list"
      - "get"
      - "update"
      - "patch"
      - "delete"
maturity: alpha
maintainers:
  - ksatchit@mayadata.io
contributors:
  - ksatchit@mayadata.io
provider:
  name: Mayadata
min_kubernetes_version: 1.12.0
references:
  - https://docs.litmuschaos.io/docs/getstarted/