    - nodeSelector:
        kubernetes.io/hostname: {{ item[0] }}
      raidGroups:
      - blockDevices:
        - blockDeviceName: {{ item[1] }}
        type: pool-type
        name: pool-group
        isWriteCache: false
        isSpare: false
        isReadCache: false
      poolConfig:
        cacheFile: ""
        defaultRaidGroupType: pool-type
        overProvisioning: false
        compression: "off"
