.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.grow {
  flex-grow: 1;
}
.cardListContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: start;
}
