.predefinedExperimentCard {
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border-radius: 8px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .desc {
    width: 90%;
  }
}
