apiVersion: batch/v1
kind: Job
metadata:
  name: node-memory-hog
  labels: 
    chaosUID: {{ chaosUID }}
spec:
  template:
    metadata:
      labels:
        app: memory-hog
        chaosUID: {{ chaosUID }}
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ node_name }}
      restartPolicy: Never
      containers:
      - image: litmuschaos/cpu:latest
        imagePullPolicy: Always
        name: memory-hog
        command: ["stress"]
        args: ["--vm", "1", "--vm-bytes", {{ total_memory_limit }}, "-t", "{{ stress_time }}" ]