apiVersion: batch/v1
kind: Job
metadata:
  name: node-memory-hog-{{ run_id }}
  labels:
    app: memory-hog
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  template:
    metadata:
      labels:
        app: memory-hog
{% if chaos_uid is defined and chaos_uid != '' %}
        chaosUID: {{ chaos_uid }}
{% endif %}
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ node_name }}
      restartPolicy: Never
      containers:
      - image: alexeiled/stress-ng:latest
        imagePullPolicy: Always
        name: memory-hog
        args: ["--vm", "1", "--vm-bytes", "{{ total_memory_percentage }}", "-t", "{{ stress_time }}"]
