apiVersion: batch/v1
kind: Job
metadata:
  name: node-cpu-hog-{{ run_id }}
  labels: 
    app: node-cpu-hog
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  template:
    metadata:
      labels:
        app: node-cpu-hog
{% if chaos_uid is defined and chaos_uid != '' %}
        chaosUID: {{ chaos_uid }}
{% endif %}
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ node_name }}
      restartPolicy: Never
      containers:
      - image: litmuschaos/cpu:latest
        imagePullPolicy: Always
        name: node-cpu-hog
        command: ["stress"]
        args: ["--cpu", "{{ cpu_limit }}", "--timeout", "{{ c_duration }}"]
