---
apiVersion: openebs.io/v1alpha1
kind: StoragePool
metadata:
  name: {{ lookup('env','JIVA_POOL_NAME') }}
  type: hostdir
spec:
  path: "{{ lookup('env','STORAGE_PATH') }}"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ lookup('env','JIVA_STORAGECLASS_NAME') }}
  annotations:
    cas.openebs.io/config: |
      - name: ControllerImage
        value: {{ lookup('env','OPENEBS_IO_JIVA_CONTROLLER_IMAGE') }}
      - name: ReplicaImage
        value: {{ lookup('env','OPENEBS_IO_JIVA_REPLICA_IMAGE') }}
      - name: VolumeMonitorImage
        value: {{ lookup('env','OPENEBS_IO_VOLUME_MONITOR_IMAGE') }}
      - name: ReplicaCount
        value: "{{ lookup('env','OPENEBS_IO_JIVA_REPLICA_COUNT') }}"
      - name: StoragePool
        value: {{ lookup('env','JIVA_POOL_NAME') }}
provisioner: openebs.io/provisioner-iscsi
---
