---
# This Utility task file can delete the application and its underlying resources such as pvc and service from K8s cluster
# This accepts application namespace, application label and application manifest file as input parameters.
# The parameters used are
#         - app_deployer ( Deployment spec yaml file )
#         - app_ns       ( application namespace )
#         - app_label    ( application label)
#
- block:

    - name: Check if the application to be deleted is running.
      k8s_facts:
        kind: Pod
        label_selectors:
          - "{{ app_label }}"
        namespace: "{{ app_ns }}"
      register: result
      until: "result.resources.0.status.phase == 'Running'"
      delay: 5
      retries: 60
    
    - name: Obtaining the PVC name using application label.
      k8s_facts:
        kind: Pod
        namespace: "{{ app_ns }}"
        label_selectors:
          - "{{ app_label }}"
      register: pvc_name

    - debug:
        msg: "{{ item.spec.volumes.0.persistentVolumeClaim.claimName }}"
      with_items: "{{ pvc_name.resources }}" 

    - name: Obtaining the PV name from PVC name.
      k8s_facts:
        kind: PersistentVolumeClaim
        name: "{{ pvc_name.resources.0.spec.volumes.0.persistentVolumeClaim.claimName }}"
        namespace: "{{ app_ns }}"
      register: pv_name

    - debug:
        msg: "{{ item.spec.volumeName  }}"
      with_items: "{{ pv_name.resources }}"

    - set_fact:
        pvname: "{{ pv_name.resources.0.spec.volumeName }}"

    - name: Check for presence & value of cas type annotation
      k8s_facts:
        kind: PersistentVolume
        name: "{{ pvname}}"
      register: openebs_stg_engine

    - debug: 
        msg: "{{ item.metadata.annotations['openebs.io/cas-type'] }}"
      with_items: "{{ openebs_stg_engine.resources }}"


    - name: Record the storage engine name
      set_fact:
        stg_engine: "{{ item.metadata.annotations['openebs.io/cas-type'] }}"
      with_items: "{{  openebs_stg_engine.resources }}"
    
    ## Replacing the item names in the respective deployer spec file.
    - name: Replace the PVC name in application deployer spec.
      replace:
        path: "{{ app_deployer }}"
        regexp: "testclaim"
        replace: "{{ lookup('env','APP_PVC') }}"
      when: app_pvc is defined
    
    - name: Replace the storageclass placeholder with provider
      replace:
        path: "{{ app_deployer }}"
        regexp: "testclass"
        replace: "{{ lookup('env','PROVIDER_STORAGE_CLASS') }}"
      when: storage_class is defined
    
    - block:

        - name: Get the application label values from env
          set_fact:
            app_lkey: "{{ app_label.split('=')[0] }}"
            app_lvalue: "{{ app_label.split('=')[1] }}"
    
        - name: Replace the application label placeholder
          replace:
            path: "{{ app_deployer }}"
            regexp: "lkey: lvalue"
            replace: "{{ app_lkey }}: {{ app_lvalue }}"
      when: app_label is defined
    
    - name: Delete the application deployment.
      shell: kubectl delete -f {{ app_deployer }} -n {{ app_ns }}
      args:
        executable: /bin/bash
    
    - name: Check if the PVC is deleted.
      k8s_facts:
        kind: PersistentVolumeClaim
        namespace: "{{ app_ns }}"
        label_selectors:
          - "{{ app_label }}"
      register: resource_list
      until: resource_list.resources | length < 1
      delay: 5
      retries: 120
    
    - block:  

        - block:

            - name: Check if the ctrl-pod is deleted.
              k8s_facts:
                kind: Pod
                namespace: "{{ app_ns }}"
                label_selectors:
                  - "openebs.io/controller=jiva-controller" 
              register: ctrl_status
              until: "ctrl_status.resources | length < 1"
              delay: 5
              retries: 15

            - name: Check if the  replica-pod is deleted.
              k8s_facts:
                kind: Pod
                namespace: "{{ app_ns }}"
                label_selectors:
                  - "openebs.io/replica=jiva-replica"
              register: rep_status
              until: "rep_status.resources | length < 1"
              delay: 5
              retries: 15

          when: stg_engine == 'jiva'  

        - block:

            - name: Check if the target pod is deleted.
              k8s_facts:
                kind: Pod
                label_selectors:
                  - "openebs.io/target=cstor-target"
                  - "{{ pvname }}"
                namespace: "{{ operator_ns }}"        
              register: target_status
              until: " target_status.resources | length < 1"
              delay: 5
              retries: 20

            - name: Check status of the pool deployments from cvr
              k8s_facts:
                kind: CStorVolumeReplica
                namespace: "{{ operator_ns }}"
                label_selectors:
                  - "{{ pvname }}"
              register: cvr_status
              until: " cvr_status.resources | length < 1 "
              delay: 5
              retries: 20

          when: stg_engine == 'cstor'  

      when: storage_class is defined    

- name: Delete the namespace.
  k8s:
    state: absent
    kind: Namespace
    name: "{{ app_ns }}"

- name: Check if the PV is deleted.
  k8s_facts:
    kind: PersistentVolume
    name: "{{ pvname }}"
    label_selectors:
      - "{{ app_label }}"
  register: pv_result
  failed_when: "pv_result.resources | length > 1"
  
