.darkPopover {
  :global {
    .bp3-popover-content {
      box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
      border-radius: 4px;
      background-color: #1c2e49;
    }
    .bp3-popover-arrow-fill {
      fill: #1c2e49 !important;
    }
  }
}
