.chaosInfrastructureIdBlock {
  max-width: 128px;
  color: var(--grey-600) !important;
  background: var(--grey-100) !important;
  border-radius: 8px;
  padding-left: 4px !important;
}

.leftSideBar {
  height: 100vh;
  border-right: 1px solid var(--grey-200);
}
