{
    "title": "Chaos on AWS ec2 instance",
    "description": "chaos on instance test",
    "configuration": {
        "aws_region": "{{ region }}"
    },
    "secrets": {
        "aws": {
            "aws_access_key_id": "{{ access_key_id }}",
            "aws_secret_access_key": "{{ secrete_access_key }}"
        }
    },
    "method": [
     {
        "type": "action", 
        "name": "chaos on ec2 instance",
    	"provider": {
        	"type": "python",
	        "module": "chaosaws.ec2.actions",
	        "func": "{{ chaos_action }}",
        	"secrets": ["aws"],
	        "arguments": {
        	    "instance_id": "{{ aws_instance_id }}"
        	}
    	}
     }
   ]
}