apiVersion: v1
kind: Pod
metadata:
  name: node-memory-hog-{{ run_id }}
  labels:
    app: memory-hog
    name: node-memory-hog-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  nodeName: {{ node_name }}
  restartPolicy: Never
  containers:
  - image: {{ memory_stress_image }}
    imagePullPolicy: Always
    name: memory-hog
    args: ["--vm", "1", "--vm-bytes", "{{ total_memory_percentage }}", "-t", "{{ stress_time }}"]
