.monthlyTab {
  padding: var(--spacing-xsmall) var(--spacing-xlarge) 0 var(--spacing-xlarge);

  .label {
    color: var(--grey-800) !important;
    font-size: 14px !important;
  }

  [class*='bp3-menu'] {
    overflow-x: hidden !important;
    min-width: 100px;
  }

  [class*='Select'] {
    width: 100px;
  }

  .selectMonth {
    margin-bottom: 0 !important;
    margin-top: 0 !important;

    [class*='Select'] {
      width: 115px;
    }
  }

  [data-name='expressionBreakdown'] {
    padding: var(--spacing-large) 0 var(--spacing-large) !important;
  }
}
