apiVersion: batch/v1
kind: Job
metadata:
  name: disk-fill
  labels:
    chaosUID: {{ chaosUID }}
spec:
  template:
    metadata:
      labels:
        app: disk-fill
        chaosUID: {{ chaosUID }}
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ app_node }}
      restartPolicy: Never
      containers:
      - image: alpine
        args:
        - sleep
        - "10000"
        imagePullPolicy: Always
        name: disk-fill
        volumeMounts:
          - name: udev
            mountPath: /diskfill
            mountPropagation: HostToContainer
        securityContext:
          privileged: true
      volumes:
        - name: udev
          hostPath:
            path: /var/lib/docker/containers