apiVersion: batch/v1
kind: Job
metadata:
  name: disk-fill-{{ run_id }}
  labels:
    app: disk-fill
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  template:
    metadata:
      labels:
        app: disk-fill
{% if chaos_uid is defined and chaos_uid != '' %}
        chaosUID: {{ chaos_uid }}
{% endif %}
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ app_node }}
      restartPolicy: Never
      containers:
      - image: alpine
        args:
        - sleep
        - "10000"
        imagePullPolicy: Always
        name: disk-fill
        volumeMounts:
          - name: udev
            mountPath: /diskfill
            mountPropagation: HostToContainer
        securityContext:
          privileged: true
      volumes:
        - name: udev
          hostPath:
            path: /var/lib/docker/containers