apiVersion: v1
kind: Pod
metadata:
  name: disk-fill-{{ run_id }}
  labels:
    app: disk-fill
    name: disk-fill-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  nodeName: {{ app_node }}
  restartPolicy: Never
  containers:
  - image: alpine
    args:
    - sleep
    - "10000"
    imagePullPolicy: Always
    name: disk-fill
    volumeMounts:
      - name: udev
        mountPath: /diskfill
        mountPropagation: HostToContainer
    securityContext:
      privileged: true
  volumes:
    - name: udev
      hostPath:
        path: {{ container_path }}