.selectStyle {
  [class*='bp3-input'] {
    border-color: var(--bp3-intent-color, #dddddd) !important;
  }
}

.label {
  margin-bottom: var(--spacing-small) !important;
  color: var(--grey-800) !important;
  font-size: 14px !important;
}
