---
apiVersion: v1
kind: Pod
metadata:
  name: service-kill-{{ run_id }}
  labels:
    app: service-kill
    name: service-kill-{{ run_id }}  
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}        
spec:
  nodeName: {{ node_name }}
  restartPolicy: Never
  containers:
  - name: service-kill
    image: ubuntu:16.04
    command: ["/bin/bash"]
    args: ["-c", "sleep 10 && systemctl stop kubelet && sleep {{ c_duration }} && systemctl start kubelet"]
    resources:
      requests:
        cpu: 10m
        memory: 5M
      limits:
        cpu: 100m
        memory: 20M
    volumeMounts:
      - name: bus
        mountPath: /var/run
      - name: root
        mountPath: /node
    securityContext:
      privileged: true
    tty: true
  volumes:
    - name: bus
      hostPath:
        path: /var/run
    - name: root
      hostPath:
        path: /
        type: ""
