apiVersion: litmuchaos.io/v1alpha1
kind: ChartServiceVersion
metadata:
  name: {{ name }} 
  version: {{ version }}
  annotations:
    categories: {{ category }}
    repository: {{ repository }}
    support: {{ community }}
spec:
  displayName: {{ name }} 
  categoryDescription: >
    {{ description }} 
  keywords: {{ keywords }} 
  maturity: {{ maturity }} 
  minKubeVersion: {{ min_kubernetes_version }} 
  provider: {{ provider }}
  maintainers: {{ maintainers }} 
  contributors: {{ contributors }} 
  links: {{ references }} 
  icon:
    - url: 
      mediatype: ""