---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: "{{ lookup('env','STORAGECLASS_NAME') }}"
provisioner: openebs.io/provisioner-iscsi
parameters:
  openebs.io/storage-pool: "{{ lookup('env','STORAGE_POOL_NAME') }}"
  openebs.io/jiva-replica-count: "{{ lookup('env','JIVA_REPLICA_COUNT') }}"
  openebs.io/volume-monitor: "{{ lookup('env','VOLUME_MONITOR') }}"
  openebs.io/capacity: {{ lookup('env','CAPACITY') }}