---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cstor-disk-standalone
  annotations:
    openebs.io/cas-type: cstor
    cas.openebs.io/config: |
      - name: StoragePoolClaim
        value: "{{ pool_name }}"
      - name: ReplicaCount
        value: "1"
provisioner: openebs.io/provisioner-iscsi
