---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openebs-cstor-xfs
  annotations:
    openebs.io/cas-type: cstor
    cas.openebs.io/config: |
      - name: StoragePoolClaim
        value: "{{ pool_name }}"
      - name: FSType
        value: XFS
provisioner: openebs.io/provisioner-iscsi
