---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-pv-hostpath
  annotations:
    openebs.io/cas-type: local
    cas.openebs.io/config: |
      - name: StorageType
        value: "hostpath"
      - name: BasePath
        value: "{{ local_pv_hostpath }}"
provisioner: openebs.io/local
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete

