{% if sc is defined and sc == 'openebs-standard' %}
 chaosutil: openebs/jiva_replica_pod_failure.yaml
{% elif sc is defined and sc == 'openebs-standard-cstor' %}
 chaosutil: openebs/cstor_pool_deploy_failure.yaml
{% endif %}
