.fieldContainer {
  gap: 0.15rem;
  width: 100% !important;
  .inputContainer {
    :global {
      width: 100%;
      .bp3-form-group {
        margin-bottom: 0 !important;
      }
      .bp3-input-group .bp3-input:not(:last-child) {
        padding-right: 36px !important;
      }
    }
    position: relative;
  }
  .eyeIcon {
    margin-top: 5px;
    margin-right: 5px;
  }
}
