.fieldContainer {
  gap: 0.15rem;
  .inputContainer {
    :global {
      .bp3-form-group {
        margin-bottom: 0 !important;
      }
      .bp3-input-group .bp3-input:not(:last-child) {
        padding-right: 36px !important;
      }
    }
    position: relative;
  }
  .eyeIcon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
