---
apiVersion: openebs.io/v1alpha1
kind: StoragePoolClaim
metadata:
  name: {{ pool_name }}
#  annotations:
#    cas.openebs.io/config: |
#      - name: CstorPoolImage
#        value: openebs/cstor-pool:{{ cstor_image }}
#      - name: CstorPoolMgmtImage
#        value: openebs/cstor-pool-mgmt:{{ cstor_image }}
spec:
  name: {{ pool_name }}
  type: disk
  maxPools: 3
  poolSpec:
    poolType: {{ pool_type }}
    cacheFile: /tmp/pool1.cache
    overProvisioning: false
  # NOTE - Appropriate disks need to be fetched using `kubectl get disks`
  #
  # `Disk` is a custom resource supported by OpenEBS with `node-disk-manager` 
  # as the disk operator
  disks:
    diskList:
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ sc_name }}
  annotations:
    openebs.io/cas-type: cstor
    cas.openebs.io/config: |
      - name: StoragePoolClaim
        value: "{{ pool_name }}"
      - name: ReplicaCount
        value: "3"
#      - name: VolumeControllerImage
#        value: openebs/cstor-volume-mgmt:{{ cstor_image }}
#      - name: VolumeTargetImage
#        value: openebs/cstor-istgt:{{ cstor_image }}
#      - name: VolumeMonitorImage
#        value: openebs/m-exporter:{{ cstor_image }}
provisioner: openebs.io/provisioner-iscsi
