apiVersion: v1
kind: Pod
metadata:
  name: app-memory-stress-{{ run_id }}
  labels:
    app: app-memory-stress
    name: app-memory-stress-{{ run_id }}  
{% if chaos_uid is defined and chaos_uid != '' %}        
    chaosUID: {{ chaos_uid }}
{% endif %}   
spec:
  nodeName: {{ app_node }}
  restartPolicy: Never
  containers:
  - image: {{ memory_stress_image }} 
    imagePullPolicy: Always
    name: app-memory-stress
    command: 
    - /bin/sh
    args:
    - ./memory-hog.sh 
    env:
        ## mandatory: provide id of docker container
      - name: CONTAINER_ID
        value: "{{ c_container_id }}"
        ## optional: provide duration of memory chaos 
        ## default: 60 (in sec)
      - name: DURATION
        value: "{{ c_duration }}"
        ## optional: provide amount of memory to be consumed in container
        ## default: 500M (in Megabytes)
      - name: MEMORY_CONSUMPTION
        value: "{{ m_consumption }}"
{% if ramp_time is defined and ramp_time != '' %}
      - name: RAMP_TIME
        value: "{{ ramp_time }}"
{% endif %}
    volumeMounts:
      - name: dockersocket
        mountPath: /var/run/docker.sock
  volumes:
    - hostPath:
        path: /var/run/docker.sock
      name: dockersocket
