node_modules
coverage
.nyc_output
reports
cypress-coverage
merged-coverage
.DS_Store
tsconfig.tmp
.idea
yarn-error.log
temp
dist/*
.yalc/
yalc.lock
.env
junit.xml
cypress/videos/
certificates
.npmrc
tasks.md