.insideCard {
  background: var(--primary-bg);
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  box-shadow: -2px 2px 5px rgba(156, 156, 156, 0.5);
  border-radius: 4px;
}

.subCard {
  background: rgba(250, 251, 252, 1);
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(156, 156, 156, 0.5);
}
