---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ clone_app }}
  labels:
    name: {{ clone_app }}
spec:
  replicas: 1
  selector: 
    matchLabels:
      name: {{ clone_app }}
  template: 
    metadata:
      labels: 
        name: {{ clone_app }}
    spec:
      containers:
        - resources:
            limits:
              cpu: 0.5
          name: {{ clone_app }}
          image: percona
          args:
            - "--ignore-db-dir"
            - "lost+found"
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: k8sDem0
          ports:
            - containerPort: 3306
              name: {{ clone_app }}
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: clone-percona
      volumes:
        - name: clone-percona
          persistentVolumeClaim:
            claimName: {{ clone_claim_name }}
