---
apiVersion: v1
kind: ConfigMap
metadata:
  name: policy
data:
  policy_kill_random_default.yml: |-
    config: 
      minSecondsBetweenRuns: 1
      maxSecondsBetweenRuns: {{ c_interval }}
    nodeScenarios: []
    podScenarios:
      - name: "delete random pods in default namespace"
        match:
          - labels:
              namespace: {{ app_ns }}
              selector: {{ app_label }}
        filters:
          - randomSample:
              size: 1
        actions:
          - kill:
              probability: 0.77
              force: {{ c_force }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: powerfulseal-{{ run_id }}
  labels:
    name: powerfulseal-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }}
{% endif %}
spec:
  selector:
    matchLabels:
      name: powerfulseal-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}
      chaosUID: {{ chaos_uid }}
{% endif %}
  replicas: 1
  template:
    metadata:
      labels:
        name: powerfulseal-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}
        chaosUID: {{ chaos_uid }}
{% endif %}
    spec:
      serviceAccountName: {{ c_svc_acc }}
      terminationGracePeriodSeconds: 0
      containers:
        - name: powerfulseal
          image: ksatchit/miko-powerfulseal:non-ssh
          args: 
          - autonomous
          - --inventory-kubernetes 
          - --no-cloud
          - --policy-file=/root/policy_kill_random_default.yml
          - --use-pod-delete-instead-of-ssh-kill
          volumeMounts: 
            - name: policyfile
              mountPath: /root/policy_kill_random_default.yml
              subPath: policy_kill_random_default.yml
      volumes:
        - name: policyfile
          configMap: 
            name: policy
