apiVersion: v1
kind: Pod
metadata:
  name: pod-delete-{{ run_id }}
  labels:
    app: pod-delete
    name: pod-delete-{{ run_id }}
{% if chaos_uid is defined and chaos_uid != '' %}
    chaosUID: {{ chaos_uid }} 
{% endif %}
spec:
  restartPolicy: Never
  serviceAccountName: {{ c_svc_acc }}
  containers:
  - image: {{ pod_delete_image }}
    imagePullPolicy: Always
    name: pod-delete  
    command: 
    - /bin/bash
    args:
    - -c
    - ./experiments/pod-delete
    env:
      ## optional: provide the value of force
      ## Default set to false
      - name: FORCE
        value: "{{ c_force }}"
      ## application namespace under pod-delete chaos
      - name: APP_NS
        value: "{{ app_ns }}"
      ## application label
      - name: APP_LABEL
        value: "{{ app_label }}"        
      ## number of kill counts
      - name: KILL_COUNT
        value: "{{ kill_count }}"                        
      ## optional: provide duration for pod-delete chaos
      ## defalut: 15 seconds
      - name: TOTAL_CHAOS_DURATION
        value: "{{ c_duration }}"
      ## chaos namespace
      - name: CHAOS_NAMESPACE
        value: "{{ c_ns }}"
      ## name of chaosengine
      - name: CHAOS_ENGINE
        value: "{{ c_engine }}"
      - name: CHAOS_UID 
        value: "{{ chaos_uid }}"
      ## optional: provide interval between pod-delete chaos
      ## defalut: 5 seconds
      - name: CHAOS_INTERVAL
        value: "{{ c_interval }}"
      ## number of iterations
      - name: ITERATIONS
        value: "{{ c_iterations }}" 
      ## helper pod name 
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
